.products-list {
    padding-top: 1em;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-evenly;
    row-gap: 1em;
}

.product-card p {
    margin: 0;
}

.product-card {
    height: 180px;
    padding: 5px 10px 0px 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropdown-container,
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.dropdown-container {
    padding: 1em 1em 0.5em 0em;
}

#dropdown-button {
    width: 120px;
}

.loader {
    margin: 20px auto auto auto;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

.ad {
    width: 100%;
    height: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
