.products-list {
    padding-top: 1em;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-evenly;
    row-gap: 1em;
}

.product-card p {
    margin: 0;
}

.product-card {
    height: 180px;
    padding: 5px 10px 0px 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropdown-container,
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.dropdown-container {
    padding: 1em 1em 0.5em 0em;
}

/* .sort-button {
    width: 100px;
} */
#dropdown-button {
    width: 120px;
}
